@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
a {
  text-decoration: none;
}
body {
  margin: 0;
}
ul {
  list-style: none;
  padding: 0;
}
h1 {
  margin: 0;
}
h2 {
  color: #ffffff;
  text-align: center;
}
main {
  padding-top: 100px;
}

/* General class */
.size-font-high {
  font-size: 2.5rem;
  color: #ff1744;
}
/* To keep the footer at the bottom of the page */
#root {
  position: relative;
  min-height: 100vh;
  background-color: #fa9fa7;
}
.content-wrap { 
  padding-bottom: 40px;
}
/* Footer */
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
  background-color: #ff1744;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-title {
  font-weight: bold;
}
/* navbar */

.sidebar_logo {
  width:5rem;
}
#logo {
  max-width: 80%;
  height: auto;
  display:block;
  /* min-height: 75px; */
}

.sidebar {
  display: flex;
  flex-wrap: wrap;
  align-items:center;
  justify-content:space-around;
  position: fixed;
  width: 100%;
  max-height: 110px;
  min-height: 80px;
  background-color: #ff1744;
  color: black;
  z-index: 2;


}
.sidebar_links {
  display: flex;
  justify-content: space-around;
  width: 70%;
  
}

.sidebar_link {
  padding: 0.3rem;
  color: #ffffff;
  font-weight: bold;
  transition: all 0.3s ease-out;
}
.sidebar_burger {
  width: 40px;
  height: 40px;
  background: transparent;
  color: inherit;
  border: none;
  display:none;
}
/* activeClassName for the navbar NavLink */
.current {
  font-size:1.3rem;
}

.panier-icon {
  color: #ffffff;
  font-size: 1.2rem;
}

/* Home page */


/* Carousel of the home page */
.hide {
  display: none;
}
.carousel {
  width: 700px;

  margin: 0 auto;
  position: relative;
  user-select: none;
}
.slide {
  opacity: 0;
  transition: opacity 0.3s ease-in;
}
.slide.active-picture {
  opacity: 1;
}
.carousel-main-picture {
  display: block;
  width: 700px;
  height: 430px;
  max-width: 100%;
  max-height: 100%;
}


/* buttons for switching pictures */
.previous-button, .next-button {
  width: 26px;
  height: 26px;
  position: absolute;
  top: 50%;
  background-color: #ffffff;
  color:#ff1744;
  border-radius: 50%;
  font-size: 26px;
  z-index: 10;
  cursor: pointer;
}
.previous-button {
  left: -13px;
}
.next-button {
  right: -13px;
}

.home {
    width: 60%;
    margin: 0 auto;
}
.theme-gallery {
  width: 50%;
  font-size: 3em;
  color: white;
  display: grid;
  grid-template-columns:  1.3fr 1.3fr 2fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 5px;
  margin: 0 auto;
  padding: 10px;
  background-color: #ffffff;
}
.carre1, .carre2, .carre3, .carre4 {
  cursor: pointer;
}
.carre1 {
width: auto;
height: 300px;
background-color: #FF1744;
border : 3px solid white;

}
.carre2 {
width: auto;
height: 300px;
background-color: #DF3153;
border : 3px solid white;
}
.carre3 {
width: auto;
height: 300px;
background-color: #BF4B62;
border : 3px solid white;

}
.carre4 {
width: auto;
height: 300px;
background-color: #9F6571;
grid-column: 1 / span 3;
line-height: 60px;
text-align: left;
border : 3px solid white;
}
.theme-title {
  color: #ffffff;
}
/* cta  (home page) */
.button-down {
  position: relative;
  padding: 5px;
  margin: 30px auto;
  background-color: rgba(255, 255, 255, 0.4);
  height: 50px;
  width: 50px;
  border-radius: 50%;
  transition: all 0.2s ease-out;
}
.carre1:hover .button-down, .carre2:hover .button-down, .carre3:hover .button-down, .carre4:hover .button-down{
  transform: translate3d(10px, 0, 0);
}
.button-down::after {
  content: "";
  position: absolute;
  top: 17px;
  left: 15px;
  z-index: 2;
  display: block;
  width: 15px;
  height: 15px;
  border-top: 2px solid #fff;
  border-left: 2px solid #fff;
  transform: rotate(135deg)
}

.carre3 .button-down {
  margin-top: 100px;
}

/* productsList component */
.products-list {
  width: 60%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
}
/* product component */
.product {
  width: 32.5%;
  height: 550px;
  border: 1px solid #ff1744;
  border-radius: 2px;
  background-color: #ffffff;
  padding: 20px;
  margin-right: 10px;
  margin-bottom: 10px;
}
.product-title {
  height: 60px;
}
.product-title h3 {
  margin-top: 0;
}
.product-img-wrapper {
  height: 180px;
  width: 200px;
  margin: 0 auto;

}
.product-img{
  display: block;
  max-width: 150px;
  max-height: 150px;
  margin: 0 auto;
}
.product-description-wrapper {
  height: 110px;
  line-height: 22px;
  word-break: break-word;
}
.product-price {
  font-weight: bold;
}
.product-rate-icon {
  color: #ff1744;
}
.product-cta-wrapper {
  position: relative;
}
.product-cta {
  display: block;
  width: 40%;
  padding: 15px;
  margin: 0 auto;
  background-color: #ff1744;
  text-align: center;
  color: #ffffff;
  cursor: pointer;
  font-weight: bold;
}

.product-quantity-circle {
  background-color: #ffffff;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: absolute;
  left: 68%;
  top: 0;
  text-align: center;
  font-weight: bold;
}
/* css for the "plus circle" effect when adding a product in the cart */
.product-add {
  display: none;
  font-size: 1.2rem;
  border-radius: 50%;
  background-color: #ffffff;
  
}
.product-cta-on-exit {
  display:block;
  opacity: 0;
  color: #ff1744;
  position: absolute;

  
}
.product-cta-on-exit-active {
  display:block;
  position: absolute;
  left: 68.5%;
  top: 0;
  opacity: 1;
  transition: opacity 300ms ease-in;

 
}

.product-cta-on-exit-done {
  display:block;
  position: absolute;
  left: 68.5%;
  top: 0;
  opacity: 0;
  transition: opacity 300ms ease-in;
  color: red;

  
}

/* basket */
.basket-wrapper {
  background-color: #ffffff;
  margin-left: 30px;
  margin-right: 30px;
}
.product-basket-wrapper {
  border-top: 1px solid #ff1744;
  display:flex;
  margin-top: 20px;
}
.product-basket-infos-warpper, .product-basket-image-wrapper {
  padding:20px;
}
.product-basket-image-wrapper {
  width: 100px;
}
.product-basket-image {
  display: block;
  max-width: 100%;
}
.product-basket-button {
  color: #ff1744;
  cursor: pointer;
}
.product-basket-title {
  font-weight: bold;
  min-width: 600px;
}
.product-basket-quantity {
  margin-top: 5px;
}
.product-basket-button {
  margin-top: 5px;
  margin-left: 5px;
}

.product-price-wrapper {
  width: 100%;
  text-align: right;
  margin-right: 30px;
}
.total-price-basket-wrapper {
  height: 50px;
  text-align: right;
  background-color: #ffffff;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 20px;
  display:flex;
  justify-content: right;
}
.total-price-basket {
  display: block;
  width: 220px;
  padding-right: 30px;
  line-height: 50px;
  font-weight: bold;
  border-top: 2px solid #ff1744;
  color: #ff1744;
}




@media screen and (max-width: 1367px) {
  .products-list {
    width: 80%;

  }
  /* product component */
  .product {
    width: 49%;
  }
  

  /* basket */
  
  .product-basket-image-wrapper {
    width: 30%;
  }
}

@media screen and (max-width: 1024px) {


  /* Navbar */
  .sidebar_logo {
    width:30%;
  }
  #logo {
      max-width: 35%;
      margin: 0 auto;

  }
  .sidebar_links {
      flex-direction: column;
      justify-content: center;
      align-items: flex-end;
      position: fixed;
      /* Pour masquer le menu, on met right à -120vw */
      /* right: -120vw; */
      bottom: 0;
      width: 100vw;
      height: 100vh;
      padding: 2rem;
      visibility: hidden;
      background-color:#ff1744;
      transition: all 0.3s ease-out;
      opacity: 0;
      margin-bottom: 0;
  }
  /* Pour afficher le menu */
  .show-sidebar .sidebar_links {
      width: 100vw;
      right: 0;
      visibility: visible;
      opacity: 1;
  }

  .sidebar_link {
      display: block;
      padding: 1.5rem;
      font-size: 5vw;
  }
  .sidebar_burger {
      display:block;
      /* pour que le menu burger reste cliquable complètement */
      position: fixed;
      top: 1rem;
      right: 1rem;
  }
  .sidebar_burger:hover {
      cursor:pointer;
  }

  .burger_bar,
  .burger_bar::before,
  .burger_bar::after {
      display: block;
      width: 40px;
      height: 3px;
      position: relative;
      border-radius: 3px;
      background: #ffffff;
      transition: all 0.5s ease-in-out;
  }

  /* ajout d'un content vide pour afficher les autres barres du menu + décalage */
  .burger_bar::before,
  .burger_bar::after {
      content: "";
      position: absolute;
      left: 0;
  }

  .burger_bar::before{
      transform: translateY(-12px);

  }
  .burger_bar::after{
      transform: translateY(12px);

  }
  /* transformation lorsque l'on clique sur le burger menu */
  /* la classe show-sidebar est mise lorsque l'on clique sur le menu pour le dérouler ou le fermer  */

  /* Ici on enlève la barre du milieu du menu */
  .show-sidebar .burger_bar {
      background: transparent;
  }


  .show-sidebar .burger_bar::before {
      transform: rotate(45deg)
  }
  .show-sidebar .burger_bar::after {
      transform: rotate(-45deg)
      
  }

  /* Products */
  .products-list {
    justify-content: center;
    width: 95%;

  }
  .product {
    width: 48%;
  }
  .product:nth-child(2n) {
    margin-right: 0;
  }

  /* basket */
  .product-basket-image-wrapper {
    width: 280px;
   }
   .product-basket-image {
    min-width: 100px;
    max-width: 100px;
  }
   
  .product-basket-infos-warpper {
    font-size: 1rem;
  }
  .product-basket-title {
    max-width: 500px;
    min-width: 500px;
  }
  .product-price-wrapper {
    width: 22%;
  }

  
}


@media screen and (max-width: 768px) {

  /* basket */
  .product-basket-title {
    min-width: 280px;
    max-width: 280px;
  }
  
  .product-basket-image-wrapper {
    width: 180px;
  }
  .product-basket-image {
    min-width: 80px;
    max-width: 80px;
  }
 
  .product-price-wrapper {
    width: 30%;
  }

}


@media screen and (max-width: 480px) {
  /* navbar */
  .panier-icon {
    margin-right: 50px;
  }
  /* product */
  .product {
    width: 95%;
    height: auto;
    display: flex;
    flex-direction: column;
    margin-right: 0;
 
    
  }
  .product-title {
    height: auto;
  }
  .product-img-wrapper {
    height: auto;
    margin-bottom: 20px;
  }
  .product-description-wrapper {
    height: auto;
  }
  /* basket */
  .basket-wrapper {
    
  }
  .product-basket-wrapper {
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin-top: 0px;
  }
  .product-basket-image-wrapper {
    padding: 0;
  }
  .product-basket-infos-warpper {
    padding: 0;
  }
  .product-price-wrapper {
    text-align: left;
  }
  .product-basket-image-wrapper {
    width: 100px;
    margin-bottom: 20px;
  }
  .product-basket-image {
    min-width: inherit;
  }
  .total-price-basket {
    border-left:2px solid #ff1744;
    width: 200px;
  }
  .product-basket-title {
    max-width: inherit;
    min-width: inherit;
    width: 100%;
  }
}