@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
a {
  text-decoration: none;
}
body {
  margin: 0;
}
ul {
  list-style: none;
  padding: 0;
}
h1 {
  margin: 0;
}
main {
  padding-top: 100px;
  background-color: #e1f5fe;
}

/* header */
.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #004c8c;
  position: fixed;
}

/* navbar */
nav {
  width: 50%;
  
}
nav a {
  color: #ffffff;
  font-weight: bold;
}
.navbar-links {
  display: flex;
  justify-content: space-around;
}
.panier-icon {
  color: #ffffff;
}

/* productsList component */
.products-list {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
}
/* product component */
.product {
  width: 32.5%;
  height: 550px;
  border: 1px solid #004c8c;
  border-radius: 2px;
  background-color: #b2d0ed;
  padding: 20px;
  margin-right: 10px;
  margin-bottom: 10px;
}
.product-img-wrapper {
  height: 180px;
  width: 200px;
  margin: 0 auto;

}
.product-img{
  display: block;
  max-width: 150px;
  max-height: 150px;
  margin: 0 auto;
}
.product-price {
  font-weight: bold;
}
.product-cta {
  display: block;
  width: 40%;
  padding: 15px;
  margin: 0 auto;
  background-color: #004c8c;
  text-align: center;
  color: #ffffff;
  cursor: pointer;
  font-weight: bold;
}


/* css for the "plus circle" effect when adding a product in the cart */
.product-add {
  display: none;
}
.product-cta-on-exit {
  display:block;
  opacity: 0;
}
.product-cta-on-exit-active {
  display:block;
  margin-left: 49%;
  margin-top: 15px;
  opacity: 1;
  transition: opacity 300ms ease-in;
}

.product-cta-on-exit-done {
  display:block;
  margin-left: 49%;
  margin-top: 15px;
  opacity: 0;
  transition: opacity 300ms ease-in;
}

/* basket */
.basket-wrapper {
  background-color: #ffffff;
  margin-left: 50px;
  margin-right: 50px;
}
.product-basket-wrapper {
  border-top: 1px solid #004c8c;
  display:flex;
  margin-top: 20px;
}
.product-basket-infos-warpper, .product-basket-image-wrapper {
  padding:20px;
}
.product-basket-image-wrapper {
  width: 100px;
}
.product-basket-image {
  display: block;
  max-width: 100%;
}
.product-basket-button {
  cursor: pointer;
}
.product-basket-tile {
  font-weight: bold;
}
.product-basket-quantity {
  margin-top: 5px;
}
.product-basket-button {
  margin-top: 5px;
  margin-left: 5px;
}