@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
a {
  text-decoration: none;
}
body {
  margin: 0;
}
ul {
  list-style: none;
  padding: 0;
}
h1 {
  margin: 0;
}
main {
  padding-top: 100px;
}

/* header */
.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #004c8c;
  position: fixed;
}

/* navbar */
nav {
  width: 50%;
  
}
nav a {
  color: #ffffff;
  font-weight: bold;
}
.navbar-links {
  display: flex;
  justify-content: space-around;
}
.panier-icon {
  color: #ffffff;
}

/* productsList component */
.products-list {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
}
/* product component */
.product {
  width: 28%;
  border: 2px solid burlywood;
  padding: 20px;
}
.product-img-wrapper {
  height: 180px;
  width: 200px;
  margin: 0 auto;

}
.product-img{
  display: block;
  max-width: 150px;
  max-height: 150px;
  margin: 0 auto;
  
}
